/* start global element */
:root {
    --main-color:#2196f3;
    --main-transition:0.3s;
    --section-padding:100px;
    --section-color:#ececec;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
    counter-reset:num;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.special-heading{
    border: 2px solid;
    width: fit-content;
    margin: 20px auto 80px;
    padding: 10px 25px;
    text-transform: uppercase;
    position: relative;
    transition: var(--main-transition);
    z-index: 1;
}
.special-heading:hover{
    border: 2px solid white;
    color: white;
    transition-delay: 0.5s;
}
.special-heading > h1{
    margin: 0;
}
.special-heading::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    right: -30px;
    z-index: -1;
    transform: translateY(-50%);
}
.special-heading::before{
    content: "";
    position: absolute;
    width: 10px; 
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    left: -30px;
    top: 50%;
    transform: translateY( -50%);
    z-index: -1;
}
.special-heading:hover::before{
animation: left-full .5s linear forwards ;
}
.special-heading:hover::after{
    animation: rigth-full .5s linear  forwards;
}
@keyframes left-full {
    50% {
       left: 0;
       width: 10px;
       height: 10px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    } 
}
@keyframes rigth-full {
    50% {
       right: 0;
       width: 10px;
       height: 10px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    } 
}
.shape{
    position: relative;
}
.shape::before{
    content: "";
    background-color: #ececec;
    height: 30px;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(135deg, white 25%, transparent 25%) ,
     linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
    z-index: 2;
}
/* end global element */
/* header */
.header{
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .container .logo{
    font-size: 26px;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 700;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:768px) {
    .header .container .logo{
        width: 100%;
        height: 50px;
    } 
}
.header .container .nav{
    display: flex;
    align-items: center;
}
@media (max-width:768px) {
    .header .nav{
        margin: auto;
    } 
}
.header .container .nav > li > a{
    text-decoration: none;
    padding: 0 30px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    font-size: 17px;
    transition: var(--main-transition);
    position: relative;
    overflow: hidden;
}
@media (max-width:768px) {
    .header .container .nav > li > a{
        padding: 15px;
        height: 40px;
        font-size: 14px;
    } 
}
.header .container .nav > li > a::before{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(--main-color);
    top: 0px;
    left: -100%;
    transition: var(--main-transition);
}
.header .container .nav > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
.header .container .nav > li > a:hover::before{
     left: 0px;
}
.header .mega-menu{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    z-index: -1;
    background-color: white;
    display: flex;
    gap: 40px;
    border-bottom: 4px solid var(--main-color);
    top: calc(100% + 80px);
    opacity: 0;
    transition: var(--main-transition);
}
.header .container .nav > li:hover .mega-menu{
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px );
}
@media (max-width:992px) {
    .header .mega-menu{
        flex-direction: column;
        gap:  0;
        padding: 5px;
    }
}
.header .mega-menu .image img{
    max-width: 100%;
}
@media (max-width:992px) {
    .header .mega-menu .image img{
        display: none;
    }
}
.header .mega-menu .links{
    min-width: 240px;
}

.header .mega-menu .links li{
    font-size: 18px;
    font-weight: 700;
    position: relative;
}
.header .mega-menu .links li::before{
    content: "";
    width: 0;
    background-color: #fafafa;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
    transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before{
    width: 100%;
}
@media (max-width:768px) {
    .header .mega-menu .links:first-of-type li:last-child{
        border-bottom: 1px solid #ececec;
    }
    
}
.header .mega-menu .links li:not(:last-child){
    border-bottom: 1px solid #ececec;
}
.header .mega-menu .links li a{
    color: var(--main-color);
    text-decoration: none;
    padding: 15px;
    display: block;
}
.header .mega-menu .links li a i{
    margin-right: 10px;
}

/* landing */
.landing{
position: relative;
}
.landing::before{
    content: "";
    width: 100%;
    background-color: #ececec;
    position: absolute;
    z-index: -1;
    height: 100%;
    transform: skew(0deg, -6deg);
    transform-origin: top left;
    left: 0; 
    top: -30px;
}
.landing .container{
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;padding-bottom: 120px;
}
.landing .container .text{
  flex: 1;
}
@media (max-width:768px) {
    .landing .container .text{
        text-align: center; 
    }  
    .landing .container .text h1 {
        font-size: 32px;
    }
    .landing .container .text p{
        font-size: 19px;
        margin-top: 15px;
    }
}
.landing .container .text h1{
    margin: 0;
    letter-spacing: -2px;
    font-weight: 900;
    font-size: 40px;
}
@media (max-width:768px) { 
    .landing .container .text h1 {
        font-size: 32px;
    }
}
.landing .container .text p{
    font-size: 23px;
    color: #666;
    line-height: 1.7;
    max-width: 500px;
    margin: 5px 0 0;
}
@media (max-width:768px) {
    .landing .container .text p{
        font-size: 19px;
        margin-top: 15px;
    }
}
.landing .image img{
    width: 600px;
    animation-name: up-down;
    animation-timing-function: linear;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@media (max-width:991px) {
    .landing .image img{
    display: none;
    
    }
}
@keyframes up-down{
    to {
        transform:translateY(50px);
    }
}
.landing a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
}
.landing .arrow i{
    animation: arrow 1.5s infinite;
}
@keyframes arrow {
    0% ,
    10% ,
    20% ,
    50% ,
    80% ,
    100%{
        transform: translateY(0);
    }
    40% ,
    60% {
        transform: translateY(15px);
    }
}
@keyframes stop {
    40% ,
    60%{
        transform: translateY(0);
    }    
}
.landing .arrow i:hover{
    animation-name: stop;
    color: #666;
}
/* start article */
.article {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.article .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
}

.article .container .box{
    box-shadow: 0 2px 10px #c2c2c2;
    border-radius: 5px;
    transition: var(--main-transition);
    background-color: white;
}
.article .container .box:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 10px #c2c2c2;
}
.article .container .box img{
width: 100%;
max-width: 100%;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.article .container .box .text{
padding: 0 20px;
border-bottom: 1px solid #e6e6e7;
}
.article .container .box .text h2{
    font-size: 20px;
}
.article .container .box .text p{
    color: #777;
    line-height: 1.5;
}
.article .container .box .info{
    padding: 15px 20px;
    position: relative;
}
.article .container .box .info a{
    color: var(--main-color);
    font-weight: 900;
}
.article .container .box .info i{
    color: var(--main-color);
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
}

/* start gallery */
.gallery{
background-color: #ececec;
padding: var(--section-padding) 0;
position: relative;
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.gallery .container .box {
    border: 16px solid white;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 2px 10px #777;
}
.gallery .container .box .image{
    transition: var(--main-transition);
    position: relative;
}
.gallery .container .box .image img{
    width: 100%;
    max-width: 100%;  
}
.gallery .container .box .image:hover{
    transform: rotate(5deg) scale(1.1);
}
.gallery .container .box .image::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: rgb(255 255 255 / 20%);
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    opacity: 0;
    z-index: 2;
}
.gallery .container .box .image:hover::before{
animation: animation-box 0.7s;
}

@keyframes animation-box {
    0% ,
    40% {
        opacity: 1;
    }
    100%{
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

/* start feature */
.feature{
    background-color: white;
    padding: var(--section-padding) 0;
    position: relative;
}
.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px , 1fr));
    gap: 40px;
}
.feature .container .box {
    border: 1px solid #ccc;
    text-align: center;
    transition: var(--main-transition);
}
.feature .container .box .img-holder{
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
}
.feature .container .box .img-holder img{
 max-width: 100%;
}
.feature .container .box .img-holder::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 99%;
    width: 100%;
} 
.feature .container .qulity .img-holder::before{
    background-color: rgb(244 64 54 / 60%);
}
.feature .container .time .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
}
.feature .container .passion .img-holder::before{
    background-color: rgb(3 169 244 / 60%);
}
.feature .container .box .img-holder::after{
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: white;
    z-index: 100;
    left: 0px;
    bottom: -77px;
    border-left: 79px solid transparent;
    transform: skew(0deg, -30deg) scale(1.3);
    transition: var(--main-transition);
}
.feature .container .box:hover .img-holder::after{
    transform: skew(0deg, 30deg) scale(1.3);
    bottom: -123px;
}
.feature .container .box h2{
    margin: auto;
    margin-top: 35px;
    font-weight: 900;
    position: relative;
    width: fit-content;
    font-size: 40px;
}
.feature .container .box h2::before{
    content: "";
    width: calc(100% - 30px);
    height: 5px;
    background-color: red;
    position: absolute;
    bottom: -10px;
    left: 13px;
}
.feature .container .qulity h2::before{
    background-color: #f44036;
}
.feature .container .time h2::before{
    background-color: #009688;
}
.feature .container .passion h2::before{
    background-color: #03a9f4;
}
.feature .container .box p{
    padding: 20px;
    line-height: 2;
    font-size: 19px;
    color: #777;
}
.feature .container .box a{
    border: 3px solid transparent;
    display: block;
    margin: 0 auto 30px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 6px;
    font-weight: 900;
    font-size: 22px;
    transition: var(--main-transition);
}
.feature .container .qulity a{
   border-color: #f44036;
   color: #f44036;
   background: linear-gradient(to right ,#f44036 50% , white 50% );
   background-position: right bottom;
   background-size: 200% 100%;
}
.feature .container .box:hover a{
    background-position: left bottom;
    color: white;
}
.feature .container .time a{
    border-color: #009688;
    color: #009688;
    background: linear-gradient(to right , #009688 50% , white 50%);
    background-position: right bottom;
    background-size: 200% 100% ;
}
.feature .container .passion a{
    border-color: #03a9f4;
    color: #03a9f4;
    background: linear-gradient(to right , #03a9f4 50% , white 50%);
    background-position: right bottom;
    background-size: 200% 100% ;
    
}
.feature .container .box a::before{
    content: "";
    width: 10px;
    height: 10px;
    background: rebeccapurple;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    z-index: -2; 
}
/* start testimonials */
.testimonial{
    background-color: var(--section-color);
    padding: var(--section-padding) 0;
}
.testimonial .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.testimonial .box {
    background-color: white;
    position: relative;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}
.testimonial .box img{
    width: 100px;
    position: absolute;
    right: -12px;
    top: -50px;
    border-radius: 50%;
    border: 8px solid var(--section-color);
}
.testimonial .box h3{
    margin: 0;
    margin-bottom: 15px;
    color: var(--main-color);
}
.testimonial .box span{
    color: #777;
}
.testimonial .box i.fa-solid{
    margin-top: 12px;
    color: #ffc107;
}
.testimonial .box p{
    margin: 0;
    line-height: 1.6;
    color: #777;
    margin-top: 5px;
}
/* start team members */
.team{
    padding: var(--section-padding) 0;
    position: relative;
}
.team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.team .box{
    position: relative;
    padding-top: 60px; 
}
.team .box::before{
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: calc(100% - 60px);
    border-radius: 10px; 
    z-index: -2;
}
.team .box::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background: #e4e4e4;
    top: 0;
    right: 0;
    z-index: -1;
    border-radius: 10px;
    transition: var(--main-transition);
}
.team .box:hover .content img{
    filter: grayscale(100%);
}
.team .box:hover::after{
    width: calc(100% - 60px);
}
.team .box .content{
    display: flex;
    align-items: center;
}
.team .box .content img{
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}
.team .box .content .icons {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
}
.team .box .content .icons a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
    color: #777;
}
.team .box .content .icons a:hover{
    color: var(--main-color);
}
.team .box .info {
    margin-left: 84px;
    padding-bottom: 5px;
}
.team .box .info h3{
    color: var(--main-color);
    font-size: 23px;
    margin: 0;
    margin-top: 15px;
    transition: var(--main-transition);
}
.team .box:hover .info h3 {
    color: gray;
}
.team .box .info p {
    margin: 10px 0 25px;
    color: #777;
}
/* start service */
.service{
    padding: var(--section-padding) 0;
    background-color: var(--section-color);
}
.service .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.service .box{
    position: relative;
    background: white;
    padding: 30px 0 0;
    text-align: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
}
.service .box::before{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transform: translateX(-50%);
    top: -3px;
    left: 50%;
    transition: var(--main-transition);
}
.service .box:hover::before{
    width: 100%;
}
.service .box:hover{
    transform: translateY(-10px);
}
.service .box i{
    font-size: 70px;
    color: #d5d5d5;
}
.service .box h2{
    color: var(--main-color);
    font-weight: 800;
}
.service .box .info{
    position: relative;
}
.service .box .info::before{
    counter-increment: num;
    content: "0" counter(num);
    position: absolute;
    left: 0px;
    top: 0;
    background: var(--main-color);
    color: white;
    width: 100px;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service .box .info::after{
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    width: 50px;
    height: 100%;
    top: 0;
    left: 82px;
    transform: skewX(-30deg);
}
.service .box .info a{
    background-color: #f9f9f9f9;
    display: block;
    padding: 15px;
    text-align: end;
    font-size: 14px;
    color: var(--main-color);
    font-weight: 600;
}
/* start skills */
.skills{
    padding: var(--section-padding) 0;
}
.skills .container{
    display: flex;
    align-items: center;
}
.skills .image img{
    width: 100%;
}
@media (max-width:991px) {
.skills .image {
    display: none;
}    
}
.skills .our-skill{
    flex: 1;
}
.skills .our-skill .skill {
    position: relative;
}
.skills .skill h3 span{
    position: absolute;
    right: 0;
    border: 1px solid #ccc;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--main-color);
}
.skills .skill .prog {
    background-color: #eee;
    height: 30px;
}
.skills .skill .prog span{
    position: absolute;
    height: 30px;
    background-color: var(--main-color);
}
/* start how work */
.how-work{
    padding: var(--section-padding) 0;
    background-color: var(--section-color);
    position: relative;
}
.how-work .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width:768px) {
    .how-work .container{
        flex-direction: column;
    }
}
.how-work img.works{
    max-width: 100%;
    margin-right: 100px;
}
@media (max-width:768px) {
    .how-work img.works{
        margin: 0;
        margin-bottom: 50px;
    }
}
.how-work .work .box{
    display: flex;
    align-items: center;
    background-color: #f6f5f5;
    margin-bottom: 20px;
    padding: 30px;
    border: 2px solid white;
    border-radius: 6px;
    position: relative;
    transition: var(--main-transition);
    z-index: 1;
}
@media (max-width:768px) {
    .how-work .work .box{
       display: block;
       text-align: center;
    }
}
.how-work .work .box::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: #ededed;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    z-index: -1;
    transition: var(--main-transition);
}
.how-work .work .box:hover::before{
    width: 100%;
    height: 100%;
}
.how-work .work .box img{
    width: 63px;
    margin-right: 30px;
}
@media (max-width:768px) {
    .how-work .work .box img{
        margin: 0;
        margin-bottom: 15px;
    }
    
}
.how-work .work .box .text h2 {
    margin: 0;
    color: #673ab7;
    font-size: 22px;
}
.how-work .work .box .text p{
    margin: 0;
    margin-top: 10px;
    line-height: 1.8;
    color: #777;
    font-size: 18px;
}
/* start event */
.event{
    padding: var(--section-padding) 0;
}
.event .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event .time{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.event .time .unit{
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    width: 75px;
    transition: var(--main-transition);
}
.event .time .unit:hover ,
.event .time .unit:hover span:last-of-type{
    border-color: var(--main-color);
}
.event .time .unit span:first-of-type{
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    padding: 15px;
}
.event .time .unit span:last-of-type{
    padding: 8px 10px;
    display: block;
    border-top: 1px solid #d5d5d5;
    font-size: 13px;
    transition: var(--main-transition);
}
.event img.photo{
    max-width: 450px;
}
@media (max-width:991px) {
    .event img.photo{
        display: none;
        }
    }
.event .box{
    text-align: center;
}
.event .box h1{
    margin-top: 50px;
    color: #000000a3;
}
.event .box p{
     color: #777;
    font-size: 19px;
    line-height: 1.8; 
}
.event .form{
    text-align: center;
    margin-top: 65px;
    width: 600px;
    max-width: 100%;
    margin: auto;
    margin-top: 65px;
    padding: 30px 40px;
    border-radius: 50px;
    background-color: #f5f6f6;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
@media (max-width:678px) {
    .event .form {
        border-radius: 0;
        padding: 20px;
        flex-direction: column;
}
}
.event .form input[type="email"]{
    padding: 20px;
    flex: 1;
    border-radius: 50px;
    border: none;
    outline: none;
    caret-color: var(--main-color);
}
.event .form input[type="email"]::placeholder{
    transition: opacity var(--main-transition);
}
.event .form input[type="email"]:focus::placeholder{
    opacity: 0;
}
.event .form input[type="submit"]{
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: var(--main-transition);
}
.event .form input[type="submit"]:hover{
   background-color:#1787e0;
}
@media (max-width:768px) {
    .event .form input[type="submit"] ,
    .event .form input[type="email"] {
        border-radius: 0;
         
    }
}
/* start price */
.price-plan{
    background-color: var(--section-color);
    padding: var(--section-padding) 0;
}
.price-plan .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
    gap: 40px;
}
.price-plan .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
     0 2px 4px 0 rgb(0 0 0 / 12%);
     position: relative;
     z-index: 1;
     transition: var(--main-transition);
}
.price-plan .box::before{
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background: #f6f6f6;
    z-index: -1;
    transition: var(--main-transition);
}
.price-plan .box::after{
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background: #f6f6f6;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: var(--main-transition);
}
.price-plan .box:hover::before ,
.price-plan .box:hover::after{
    width: 100%;
}
.price-plan .box:hover a{
    background-color: #f6f6f6;
}

.price-plan .popular{
    transform: translateY(-25px);
}
@media (max-width:768px) {
    .price-plan .popular{
        transform: translateY(0);
    }
}
.price-plan .box .content{
    text-align: center;
    position: relative;
}
.price-plan .box .content h3{
    font-size: 25px;
    color: #1787e0;;
}
.price-plan .box .content .label{
    position: absolute;
    right: -33px;
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    padding: 10px 35px 10px 10px;
    transform: rotate(90deg);
    top: 29px;
    font-size: 18px;
}
.price-plan .popular .content .label::after{
    content: "";
    position: absolute;
    bottom: 0px;
    right: -1px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}

.price-plan .box .content img{
    width: 80px;
    margin-bottom: 30px;
}
.price-plan .box .price{
    text-align: center;
}
.price-plan .box .price .amount{
    display: block;
    font-size: 45px;
    font-weight: 900;
    color: var(--main-color);
    margin-bottom: 10px;    
}
.price-plan .box .price .per{
    font-size: 14px;
    color: #777;    
}
.price-plan .box ul{
    margin-top: 20px;
}
.price-plan .box ul li{
    border-top: 1px solid #eee;
    padding: 19px;
    position: relative;
}
.price-plan .box ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f14a";
    margin-right: 11px;
    color: var(--main-color);
    font-size: 18px;
}
.price-plan .box a{
    display: block;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 17px 21px;
    border-radius: 7px;
    border:2px solid var(--main-color);
    background-color: white;
    color: var(--main-color);
    font-weight: 700;
    cursor: pointer;
    width: fit-content;
    transition: var(--main-transition);
}
/* start video */
.top-video{
    padding: var(--section-padding) 0;
    }
.top-video .container{
    display: flex;
    justify-content: space-between;
}
@media (max-width:768px) {
    .top-video .container{
        flex-direction: column;
    }
}
.top-video .content{
    flex: 1;
    border: 1px solid #d5d5d5;
    border-right: none;
}
.top-video .content .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    margin: 0;
    background-color: #f3f3f3f3;
    font-weight: 800;
}
.top-video .content ul.list li{
    padding: 20px;
    border-top: 1px solid #d5d5d5;
    cursor: pointer;
    transition: var(--main-transition);
}
.top-video .content ul.list li:hover {
    color: var(--main-color);
    background-color: #fafafa;
}
.top-video .content ul.list li span{
    font-size: 14px;
    color: #777;
    display: block;
    margin-top: 10px;  
}
.top-video .image{
    padding: 12px;
    background-color: #e2e2e2;
    flex:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-video .image img{
    max-width: 100%;
}
.top-video  .image p{
    background: white;
    padding: 20px;
    margin: 0;
}
/* start awesome */
.awesome{
    padding: var(--section-padding) 0;
    background-image: url("../images/stats.jpg");
    background-size: cover;
    min-height: 300px;
    position: relative;
}
.awesome::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
    top: 0;
    left: 0;
}
.awesome .container{
    z-index: 2;
    position: relative;
}
.awesome .holder{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
}
.awesome .container h1{
    text-align: center;
    margin: 0;
    margin-bottom: 63px;
    font-size: 40px;
    font-weight: 900;
    color: var(--main-color);
}
.awesome .container .box{
    background-color: white;
    padding: 20px;
    text-align: center;   
    position: relative;
    transition: var(--main-transition);
}
.awesome .container .box::after{
    content: "";
    width: 0px;
    height: 0px;
    background: var(--main-color);
    position: absolute;
    right: 0px;
    bottom: 0;
    transition: 0.7s
}
.awesome .container .box::before{
    content: "";
    width: 0px;
    height: 0px;
    background: var(--main-color);
    position: absolute;
    left: 0px;
    top: 0px;
    transition: 1s
}
.awesome .container .box:hover::before ,
.awesome .container .box:hover::after{
    width: 2px;
    height: 100%;
}
.awesome .container .box i{
    display: block;
    font-size: 36px;
    margin-bottom: 20px;
}
.awesome .container .box span{
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 14px;    
}
.awesome .container .box em{
    font-size: 25px;
    color: var(--main-color);
    font-weight: bold;
}
/* start discount */
.discount{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount .image{
    background-image: url("../images/discount-background1.jpg");
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    animation: change-back 10s linear infinite;
}
@keyframes change-back {
    0% ,
    100% {
        background-image:  url("../images/discount-background1.jpg");
    }
    50%{
        background-image:  url("../images/discount-background2.jpg");
    }
    
}
.discount .image::before{
    content: "";
    width: 100%;
    height: 100%;
    max-width: 100%;
    left: 0;
    background: rgb(23 135 224 / 97%);
    position: absolute;
    top: 0;
    z-index: -1;
}
@media (max-width:991px) {
    .discount .image{
        flex-basis: 100%;
    }
}
.discount  .content{
    text-align: center;
    padding: 0 20px;
}
.discount .content h2{
    font-size: 40px;
    letter-spacing: -2px;  
}
.discount .content p{
    line-height: 1.6;
    max-width: 500px;
    font-size: 18px;    
}
.discount .content img{
    width: 300px;
    max-width: 100%;
}
.discount .form{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
@media (max-width:991px) {
    .discount .form{
        flex-basis: 100%;
    }
}
.discount .form form input ,
.discount .form form textarea{
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    background-color: #f9f9f9;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    caret-color: var(--main-color);
}
.discount .form form textarea{
    resize: none;
    height: 200px;
}
.discount .form form input[type="submit"]{
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: var(--main-transition);
    cursor: pointer;
}
.discount .form form input[type="submit"]:hover{
    background-color: #1787e0;
}
/* start footer */
.footer{
    background-color: #191919;
    padding: 70px 0 0;
    color: white;
}
@media (max-width:768px) {
    .footer{
        text-align: center;
    }    
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px, 1fr));
    gap: 40px;
}
.footer .box h2{
    font-size: 40px;
    margin: 0;
    margin-bottom: 30px;
}
.footer .box ul.social{
    display: flex;
    transition: var(--main-transition);
}
.footer .box .social .youtube:hover{
    background-color: #ff0000;
}
.footer .box .social .twitter:hover{
    background-color: #1da1f2;
}
.footer .box .social .face:hover{
    background-color: #1877f2;
}

@media (max-width:768px) {
    .footer .box ul.social{
        display: flex;
        justify-content: center;
    }    
}
.footer .box ul.social li{
    margin-right: 10px;
}
.footer .box ul.social li a{
    background-color: #313131;
    color: #b9b9b9;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: var(--main-transition);
}
.footer .box p{
    line-height: 2;
    color: #b9b9b9;
}
.footer .box ul.links li{
    padding: 15px 0;    
    transition: var(--main-transition);
}
.footer .box ul.links li:not(:last-child){
    border-bottom: 1px solid #444;
}
.footer .box ul.links li a{
    color: #b9b9b9;    
    transition: var(--main-transition);
}
@media (max-width:768px) {
    .footer .box ul.links li a{
        font-size: 20px;        
    }    
}
.footer .box ul.links li a:hover{
    color: white;
    margin-left: 10px;
}
.footer .box ul.links li i{
    margin-right: 6px;
    margin-left: 8px;
    color: var(--main-color);
}
.footer .box .info{
    padding: 20px;
    display: flex;
    align-items: center;
}
@media (max-width:768px) {
    .footer .box .info{
        display: block;
        }    
}
.footer .box .info i{
    margin-right: 10px;
    font-size: 22px;
    color: var(--main-color);
}
@media (max-width:768px) {
    .footer .box .info i{
        margin-bottom: 23px;
        font-size: 35px;
}    
}
.footer .box .info .line{
    color: #b9b9b9;
    font-size: 16px;
}
@media (max-width:768px) {
    .footer .box .info .line span{
        display: block;
    }    
}
.footer .photo img{
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
.copyright{
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}